{% if cart %}
<h1>Cart {{ c_value }}$</h1>

{% for i in cart %}
<div>
  <h4>{{ i.meal.name }} - {{ i.total_price }}$</h4>
  {% if i.toppings %}
  <p>Selected toppings:
    {% for t in i.toppings %}
    {{ t.name }}{% if forloop.last %}. {% else %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
  {% if i.extras %}
  <p>Selected extras:
    {% for e in i.extras %}
    {{ e.name }}{% if forloop.last %}. {% else %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
</div>
{% endfor %}
{% else %}
<h1>Empty cart</h1>
{% endif %}