{% if num_of_toppings %}
<div class="form-group" id="topping-select">
  <label for="id_topping{{ i }}">Please select {{ i }} topping:</label>
  <select multiple class="form-control toppings" name="toppings" id="id_topping{{ i }}">
    {% for topping in toppings %}
    <option value="{{ topping.id }}">{{ topping.name }}</option>
    {% endfor %}
  </select>
</div>
<br>
{% endif %}

{% if num_of_extras %}
<div class="form-group" id="extras-select">
  <label for="id_extras{{ i }}">Available extras (each +{{ extras_price }}$):</label>
  <select multiple class="form-control extras" name="extras{{ i }}" id="id_extras{{ i }}">
    {% for extra in extras %}
    <option value="{{ extra.id }}">{{ extra.name }}</option>
    {% endfor %}
  </select>
</div>
<br>
{% endif %}

{% if is_special %}
  <div class="form-group">
    <label for="special_instructions">Any special instructions?</label>
    <textarea
            class="form-control"
            name="special_instructions"
            id="special_instructions"
            rows="3"></textarea>
  </div>
{% endif %}

{% block scripts %}
<script>
  $(document).ready(function() {
      $('.form-control.toppings').select2({
        maximumSelectionLength : {{ num_of_toppings }},
     });
  });

  $(document).ready(function() {
      $('.form-control.extras').select2({
        maximumSelectionLength : {{ num_of_extras }},
     });
  });
</script>
{% endblock %}