{% if num_of_toppings %}
<div class="form-group" id="topping-select">
  {% for i in toppings_range %}
  <label for="id_topping{{ i }}">Please select {{ i }} topping:</label>
  <select class="form-control toppings" name="toppings" id="id_topping{{ i }}">
    {% for topping in toppings %}
    <option value="{{ topping.id }}">{{ topping.name }}</option>
    {% endfor %}
  </select>
  {% endfor %}
</div>
<br>
{% endif %}

{% if num_of_extras %}
<div class="form-group" id="extras-select">
  <label for="id_extras{{ i }}">Available extras (each +{{ extras_price }}$):</label>
  <select multiple class="form-control extras" name="extras" id="id_extras{{ i }}">
    {% for extra in extras %}
    <option value="{{ extra.id }}">{{ extra.name }}</option>
    {% endfor %}
  </select>
</div>
<br>
{% endif %}

{% block scripts %}
<script>
  $(document).ready(function() {
      $('.form-control.toppings').select2();
  });

  $(document).ready(function() {
      $('.form-control.extras').select2({
        maximumSelectionLength : {{ num_of_extras }},
     });
  });
</script>
{% endblock %}