<small class="form-text text-muted">{{ desc }}</small>
<br>
<div class="form-group" id="meal-select">
  <label for="id_meal">Please choose your option:</label>
  <select class="form-control" name="meal" id="id_meal">
    <option value="">---------</option>
    {% for meal in meals %}
    <option value="{{ meal.pk }}">{{ meal }}</option>
    {% endfor %}
  </select>
</div>

{% block scripts %}
  <script>
    $("#id_meal").change(function () {
      let ajax_url = $("#order_form").attr("ajax_load_ingredients");
      let selected_meal_id = $(this).val();

      if (selected_meal_id) {
        $.ajax({
          url: ajax_url,
          data: {
            'id_meal': selected_meal_id
          },
          success: function(data) {
            $("#ingredients-select").html(data);
            $("#ingredients-select").show()
          }
        });
       } else {
        $("#ingredients-select").hide()
       }
    });

    $(document).ready(function() {
      $('#id_meal').select2()
    });

  </script>
{% endblock %}
