{% extends "orders/base.html" %}

{% block title %}My Orders{% endblock %}

{% block body %}
<div id="user-info">
  <h2>Current user: {{ user }}</h2>
</div>


{% if orders %}

  {% for k, v in orders.items %}
  <div class="card m-3">
    <div class="card-body">
      <h5 class="card-title">Order number: {{ k }}, Total: {{ v.value }}$</h5>

          {% for k, v in v.data.items %}
            <div class="card">
        <div class="card-body">
          <p>{{ v.item }}
            {% if v.extras_selected %}
                (
                {% for ex in v.extras_selected %}
                {% if forloop.last %}
                {{ ex }} )
                {% else %}
                {{ ex }},
                {% endif %}
                {% endfor %}
                {% endif %}
          </p>
          {% if v.special_info %}
          <footer class="blockquote-footer"><cite title="Special info">{{v.special_info}}</cite></footer>
          {% endif %}
        </div>


            </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}