{% extends "orders/base.html" %}

{% block title %}Order{% endblock %}

{% block body %}
  <h1>Order</h1>
  <form
          id="order_form"
          ajax_load_meals="{% url 'ajax_load_meals' %}"
          ajax_load_ingredients="{% url 'ajax_load_ingredients' %}"
          method="post">
    {% csrf_token %}
    <div class="form-group" id="type-select">
      <label for="id_type">What would you like to eat?</label>
      <select class="form-control" name="type" id="id_type">
        {% for type in form.type %}
        {{ type }}
        {% endfor %}
      </select>
    </div>
    <div class="form-group" id="meal-select"></div>
    <div class="form-group" id="ingredients-select"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<div id="cart" ajax_get_cart="{% url 'ajax_get_cart' %}"></div>
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#id_type').val("").change();

      $('#id_type').select2();

      let ajax_url = $("#cart").attr("ajax_get_cart");

      console.log(ajax_url)

      $.ajax({
        url: ajax_url,

        success: function(data) {
          $("#cart").html(data);
        }

      });
    });


    $("#id_type").change(function () {

    let ajax_url = $("#order_form").attr("ajax_load_meals");
    let selected_type_id = $(this).val();

    $("#ingredients-select").hide()

    if (selected_type_id) {
      $.ajax({
        url: ajax_url,
        data: {
          'id_type': selected_type_id
        },
        success: function(data) {
          $("#meal-select").html(data);
          $("#meal-select").show()
        }
      });
     } else {
      $("#meal-select").hide()
      }
    });
  </script>
{% endblock %}
