{% extends "orders/base.html" %}

{% block title %}Order{% endblock %}

{% block body %}
  <h1>Order</h1>
  <form id="meal_form" ajax_load_meals="{% url 'ajax_load_meals' %}" method="post" novalidate>
    {% csrf_token %}
    {% include 'orders/bootstrap_form.html' with form=form %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}


{% block scripts %}
  <script>
      $("#id_type").change(function () {
      let ajax_url = $("#meal_form").attr("ajax_load_meals");
      let selected_id_type = $(this).val();

      $.ajax({
        url: ajax_url,
        data: {
          'id_type': selected_id_type
        },
        success: function(data) {
          $("#id_meal").html(data);
        }
      });

    });
  </script>
{% endblock %}
